#b1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login{
    position: absolute;
    top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px transparent hsl(0, 1%, 47%);
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#login:hover{
    box-shadow: 0 12px 22px 0 rgba(0,0,0,0.2);
}

#form-title{
    font-size: 1.3em;
    font-weight: bold;
    font-family: verdana;
    border: none;
    padding-top: 10px;
    color: rgba(10, 10, 10, 0.356);
}

.input-box{
    font-size: 1em;
    padding: 7px 5px;
    margin: 20px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(235, 235, 235);

}

.btn{
    font-size: 1em;
    font-weight: bold;
    color: white;
    box-shadow: 1px 1px black;
    margin: 20px;
    padding: 3px 20px;
    border: none;
    border-radius: 5px;
    background-color:rgb(195, 195, 196);
    cursor: pointer;
}

#submit-btn{
    background-color: hsl(219, 97%, 55%);
    margin-bottom: 5px;
}
#submit-btn:hover{
    background-color: hsl(219, 97%, 55%);
}
